<ul class="nav nav-tabs align-self-end">
  <li class="nav-item">
    <a class="nav-link {{#ifCond route "新聞清單"}}active{{/ifCond}}" href="/admin/news">新聞清單</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifCond route "類別清單"}}active{{/ifCond}}" href="/admin/categories">類別清單</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifCond route "會員清單"}}active{{/ifCond}}" href="/admin/users">會員清單</a>
  </li>
</ul>