<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">新聞雷達</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="me-auto"></div>

      <ul class="navbar-nav mb-2 mb-lg-0">
        {{#if isAuthenticated}}
        <li class="nav-item">
          <a class="nav-link disabled text-dark" href="/">歡迎回來! {{user.name}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/{{user.id}}">我的頁面</a>
        </li>
        {{/if}}
        <li class="nav-item">
          <a class="nav-link" href="/">首頁</a>
        </li>
        {{#if user.isAdmin}}
        <li class="nav-item">
          <a class="nav-link" href="/admin/news">後台系統</a>
        </li>
        {{/if}}
        {{#if isAuthenticated}}
        <li class="nav-item">
          <a class="nav-link" href="/logout">登出</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/login">登入</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>