<div class="card profile-second-layer">
  <div class="card-header profile-first-layer">
    <h5>編輯個人資訊</h5>
  </div>

  <form action="/users/{{user.id}}?_method=PUT" method="POST" enctype="multipart/form-data" class="card-body">
    <div class="mb-3">
      <label for="image" class="form-label">個人頭像</label>
      <input class="form-control" type="file" id="image" name="image">
    </div>

    <div class="mb-3">
      <label for="name" class="form-label">名稱</label>
      <code>*</code>
      <input type="text" class="form-control" id="name" name="name" value="{{user.name}}" placeholder="請輸入名稱">
    </div>
    
    <div class="mb-3">
      <label for="description" class="form-label">個人簡介</label>
      <textarea class="form-control" name="description" id="description" cols="30" rows="10" placeholder="這邊可以簡短介紹一下自己唷">{{user.description}}</textarea>
    </div>

    <div class="form-check mb-3">
      <input class="form-check-input" type="checkbox" id="passwordEditCheck" data-bs-toggle="collapse" data-bs-target="#password-section" name="passwordEditCheck">
      <label class="form-check-label" for="passwordEditCheck">
        我想修改密碼
      </label>
    </div>

    <div class="collapse" id="password-section">
      <div class="mb-3">
        <label for="password" class="form-label">密碼</label>
        <code>*</code>
        <input type="password" class="form-control" id="password" name="password" placeholder="請輸入密碼">
      </div>
      <div class="mb-3">
        <label for="confirmPassword" class="form-label">確認密碼</label>
        <code>*</code>
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="請輸入密碼">
      </div>
    </div>

    <a href="/users/{{user.id}}" class="btn btn-info">返回</a>
    <button type="submit" class="btn btn-primary">儲存</button>
  </form>

</div>