<form class="p-3 bg-secondary border" action="/login" method="POST">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">電子信箱</label>
    <input type="email" class="form-control" id="email" name="email">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">密碼</label>
    <input type="password" class="form-control" id="password" name="password">
  </div>
  <button type="submit" class="btn btn-primary">登入</button>
</form>