* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, p, .table, label, span, strong {
  color: aliceblue;
}

hr {
  color: whitesmoke;
}

#news-list .card {
  width: auto;
  min-height: 400px;
}

#news-list .card-img-top {
  height: 250px;
  background-size: cover;
  background-position: center;
  /* transition: all ease-out .3s; */
}

#news-list h5 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#news-list h5 {
  -webkit-line-clamp: 2;
}

.news-card, #profile {
  background-color: #3a3939;
}

#news #news-image {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
}

.profile-first-layer {
  background-color: rgb(31, 31, 31);
}

.profile-second-layer {
  color: aliceblue;
  background-color: rgb(85, 85, 85);
}

#profile #profile-image {
  /* outline: 3px solid tomato; */
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
}

#profile .mini-profile-image {
  /* outline: 3px solid tomato; */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

#profile .liked-news {
  width: 125px;
  height: 85px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  #news #news-image {
    width: 75%;
    height: 500px;
    background-size: cover;
    background-position: center;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  #news #news-image {
    width: 75%;
    height: 500px;
    background-size: cover;
    background-position: center;
  }

  #country-tabs {
    width: 30%;
  }
}
